* {
    box-sizing: ; border-box;
    font-family: sans-serif;
    margin: 0}

header {
    border: solid 1px;
    background-color: rgb(0, 255, 132);
}

h1 {
    text-align: center;
    text-shadow: 100px;
    
}

footer {
    background-color: darkgreen;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    border: solid 1px;
    padding: 12px;
    bottom: -490px
}
.nav-footer {
    display: flex;
    flex-direction: row
    
}
